/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*general*/
body{
	margin: 0;
	background-color: #212121;
}
a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color:black;
	margin: auto;
}
*:focus{
	outline: none;
}
.overlay{
	height: 100%;
	position: fixed;
	width: 100%;
	transition: 0.2s;
	display: none;
	z-index: 1;
	
}
.fade{
	display: block;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 1;
	cursor: pointer;
}

/*icon*/
.fa-search {
  color: white;
}

/*header*/
.header{
	width:100%;
	
	height: 90px;
	background-color:#171717;
	margin:0;
	display: inline-flex;
	box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.45);

}
.header_container{
	
	display: inline-flex;
	margin: 0 auto;
	width: 1500px;
	display: inline-flex;
	
}
.menu_icon{
		display: inline-block;
  	cursor: pointer;
  	height: 34px;
  	margin: auto 20px auto 20px;
  	z-index: 3;	
  	
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: white;
  margin: 7px 0;
  transition: 0.2s;
}
.change .bar1 {
 	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(0px, 13px) ;
	background-color: black;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(0px, -13px) ;
	background-color: black;
}
.logo{
	padding: 0;
	margin: 22.5px 10px 22.5px 10px;
	width:100px;
	height:50px ;
  font-family: 'Source Serif Pro', serif;
	font-size: 35px;	
}
.search{
	margin: auto auto;
	display: inline-flex;
	transition: box-shadow 0.2s;
}
.search:hover{
	box-shadow: 4px 4px rgba(0, 0, 0, 0.45);
}
.search_input{
	width: 390px;
	height: 27px;
	padding: 5px 0 5px 10px;
	border-radius:8px;
	border:3px solid #212121;
	/*min-width: 400px;*/
	background-color: white;
	font-size: 15px;
	transition:border 0.2s;
}
.search_input:focus{
	border: 3px solid #333333;
}
.search_button{
	width:50px;
	border-radius:3px;
	/*border:3px solid #212121;*/
	-webkit-border-image: url("buttborder.png") 30 stretch; /* Safari 3.1-5 */
	-o-border-image: url("buttborder.png") 30 stretch; /* Opera 11-12.1 */
	border-image: url("buttborder.png") 30 stretch;

	margin: 0 0px 0 -10px;
	transition: border 0.2s, background-color 0.2s;
	background-color: #212121;
	outline: none;
}
.search_button:hover{
	/*border: 3px solid #255692;*/
	background-color: #333333;
}
.exlisu{
	
	margin: auto 10px auto 10px;
	display: inline-flex;
}
.sign_up_login{
	
	margin: auto 0 auto 0;
	display: inline-flex;
}
.log_in{
	text-transform: uppercase;
	height: 41px;
	width: 120px;
	margin-right:5px;
	border: 2px solid white;
	border-radius: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	background-color: transparent;
	color: white;
	transition: 0.2s;
}
.log_in:hover{
	box-shadow: 5px 5px rgba(0, 0, 0, 0.45);
	/*border: 2px solid #255692;*/
	transform: translate(0pc, -2px);
}
.sign_up{
	text-transform: uppercase;
	height: 41px;
	width: 120px;
	margin-left: 5px;
	border: 2px solid white;
	border-radius: 15px;
font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 500;
	background-color: transparent;
	color: white;
	transition: 0.2s;
}
.sign_up:hover{
	border: 2px solid #CC572D;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.45);
	transform: translate(0pc, -2px);
}
.side_bar{
	height: 100vh;
	width: 255px;
	position: fixed;
	background-color: white;
	-webkit-transform:translate(-255px, 0px) ;
	transform:translate(-255px, 0px) ;
	transition: 0.2s;
	z-index: 2;
	box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.45);
}
.side_bar_buttons{
	width: 100%;
	height: 50px;
	margin-top:70px; 
	transition: 0.2s;

}
.side_bar_buttons:hover{
	background-color: #f3f3f3;

}
.translate{
	-webkit-transform: translate(0px, 0px) ;
	transform: translate(0px, 0px) ;
}

/*body*/
.recruiter_template{
	width: 60%;
	min-width: 920px;
	margin: 20px auto;
	padding: 30px 30px 30px 30px;
	background-color: white;
	border:5px 5px rgba(0, 0, 0, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.25); 
	display: flex;
	
}
.company_avatar{
	width:100px;
	height: 100px;
	padding: 5px;
	border-radius: 55px;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.45); 
}
.recruiter_info{
	margin: 0 0 0 10px;
}