body{
  background-color: #212223;
  .logo{

  }
  .container-fluid{
    overflow: hidden;
  }
  .input-box{
    max-width: 800px;
    padding: 40px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.37);
    .input-box-p{
      color: white;
    }
  }
  .navbar-default{
      background-color:#1D1D1F;
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.37);

  }
  .avatar {
    max-height:30px;
    border-radius: 15px;
    width:auto;
    vertical-align:middle;
  }

  .room-nav-link {

    background: #272727;

    & + .room-nav-link {
      border-top: 0 none;
    }
  }


  .chat {

    background: #272727;
    height: 75vh;
    border-radius: 5px 5px 0 0;
    overflow-y: auto;

      .chat-message-container {
      padding: 5px;

      .avatar {
        margin: 5px;
      }

      .message-content {
        padding: 3px;
        max-width: 450px;
        border-radius:30px;
        background-image: linear-gradient(to right, #C98630 , #CA5031);
        color: white;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.37);
      }
      .message-content2 {
        padding: 3px;
        max-width: 450px;
        border-radius:30px;
        background-color: #f9f9f9;
        color: black;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.37);
      }

      & + .chat-message-container {
        margin-top: 10px;
      }
    }
  }

  .chat-input {
    border-top: 0 none;
    border-radius: 0 0 0 0;
  }
}
/* Track */
::-webkit-scrollbar-track {
    background: #212223;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #313335;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3d4042;

}
